---
import { Picture } from "astro:assets";
import ImageAccess42 from "images/certifications/access42.png";
import ImageDesignersEthiques from "images/certifications/designers-ethiques.png";
import DSchool from "images/certifications/dschool.png";
import ImageINR from "images/certifications/inr.png";
import ImageOpquast from "images/certifications/opquast.png";

const certifications = [
  {
    src: ImageAccess42,
    cssClasses: "w-[66px] h-[48px]",
    alt: "Access42",
  },
  {
    src: ImageOpquast,
    cssClasses: "w-[100px] h-[25px]",
    alt: "Opquast",
  },
  {
    src: ImageDesignersEthiques,
    cssClasses: "w-[100px] h-[45px]",
    alt: "Designers Éthiques",
  },
  {
    src: ImageINR,
    cssClasses: "w-[100px] h-[36px]",
    alt: "Institut du Numérique Responsable",
  },
  {
    src: DSchool,
    cssClasses: "w-[115px] h-[56px]",
    alt: "Interaction Design Foundation",
  },
];
---

<ul
  class="flex justify-around sm:justify-normal flex-wrap items-center -mx-4 sm:-mx-6 xl:-mx-10"
>
  {
    certifications.map((certification) => {
      return (
        <li class="m-4 mb-[20px] sm:m-6 xl:mx-10">
          <Picture
            src={certification.src}
            class:list={[certification.cssClasses, "mx-auto"]}
            densities={[1, 2]}
            alt={certification.alt}
          />
        </li>
      );
    })
  }
</ul>
