---
import { Picture } from "astro:assets";
import Grid from "../@common/Grid.astro";
import ClientLogoElle from "images/collaborations/clients-logos/elle.png";
import ClientLogoNeat from "images/collaborations/clients-logos/neat.png";
import ClientLogoSezane from "images/collaborations/clients-logos/sezane.png";
import ClientLogoOrange from "images/collaborations/clients-logos/orange.png";
import ClientLogoSSC from "images/collaborations/clients-logos/school-of-system-change.png";
import ClientLogoEkino from "images/collaborations/clients-logos/ekino.png";
import ClientLogoInfopro from "images/collaborations/clients-logos/infopro.png";
import ClientLogoWalter from "images/collaborations/clients-logos/walter-france.png";
import ClientLogoDynamo from "images/collaborations/clients-logos/dynamo.png";
import ClientLogoJohnDeere from "images/collaborations/clients-logos/john-deere.png";
import ClientLogoCanalPlus from "images/collaborations/clients-logos/canalplus.png";
import ClientLogoVigiePorts from "images/collaborations/clients-logos/vigie-ports.png";
import ClientLogoSys1 from "images/collaborations/clients-logos/sys1.png";
import ClientLogoDXOMARK from "images/collaborations/clients-logos/dxomark.png";
import ClientLogoCapAtlantique from "images/collaborations/clients-logos/capatlantique.png";
import ClientLogoSFRBusiness from "images/collaborations/clients-logos/sfr-business.png";
import ClientLogoImatech from "images/collaborations/clients-logos/imatech.png";

const logos = [
  {
    src: ClientLogoElle,
    alt: "ELLE",
    sizes: [`w-[51px]`, `lg:w-[72px]`],
  },
  {
    src: ClientLogoNeat,
    alt: "Neat",
    sizes: [`w-[62px]`, `lg:w-[77px]`],
  },
  {
    src: ClientLogoSezane,
    alt: "Sézane",
    sizes: [`w-[114px]`, `lg:w-[142px]`],
  },
  {
    src: ClientLogoOrange,
    alt: "Orange",
    sizes: [`w-[41px]`, `lg:w-[51px]`],
  },
  {
    src: ClientLogoSSC,
    alt: "School of System Change",
    sizes: [`w-[106px]`, `lg:w-[132px]`],
  },
  {
    src: ClientLogoEkino,
    alt: "Ekino",
    sizes: [`w-[82px]`, `lg:w-[102px]`],
  },
  {
    src: ClientLogoInfopro,
    alt: "Infopro Digital",
    sizes: [`w-[147px]`, `lg:w-[184px]`],
  },
  {
    src: ClientLogoWalter,
    alt: "Walter France",
    sizes: [`w-[78px]`, `lg:w-[97px]`],
  },
  {
    src: ClientLogoDynamo,
    alt: "Dynamo",
    sizes: [`w-[112px]`, `lg:w-[140px]`],
  },
  {
    src: ClientLogoJohnDeere,
    alt: "John Deere",
    sizes: [`w-[133px]`, `lg:w-[166px]`],
  },
  {
    src: ClientLogoCanalPlus,
    alt: "Canal+",
    sizes: [`w-[102px]`, `lg:w-[127px]`],
  },
  {
    src: ClientLogoVigiePorts,
    alt: "Vigie Ports",
    sizes: [`w-[97px]`, `lg:w-[121px]`],
  },
  {
    src: ClientLogoSys1,
    alt: "Sys1",
    sizes: [`w-[80px]`, `lg:w-[100px]`],
  },
  {
    src: ClientLogoDXOMARK,
    alt: "DXOMARK",
    sizes: [`w-[136px]`, `lg:w-[170px]`],
  },
  {
    src: ClientLogoCapAtlantique,
    alt: "Cap Atlantique",
    sizes: [`w-[116px]`, `lg:w-[146px]`],
  },
  {
    src: ClientLogoSFRBusiness,
    alt: "SFR Business",
    sizes: [`w-[104px]`, `lg:w-[130px]`],
  },
  {
    src: ClientLogoImatech,
    alt: "Imatech",
    sizes: [`w-[120px]`, `lg:w-[150px]`],
  },
];
---

<Grid
  as="ul"
  class="grid-cols-2 gap-y-[30px] gap-x-2.5 sm:grid-cols-4 md:grid-cols-5 lg:gap-0 lg:flex lg:justify-center lg:flex-wrap lg:-mx-[34px] lg:-my-4 2xl:-mx-10"
>
  {
    logos.map((logo) => {
      return (
        <li class="md:col-span-1 lg:col-span-2 h-[66px] flex justify-center items-center lg:mx-[34px] lg:my-4 2xl:mx-10">
          <Picture
            src={logo.src}
            densities={[1, 2]}
            alt={logo.alt}
            class:list={logo.sizes}
          />
        </li>
      );
    })
  }
</Grid>
