---
import { getImage } from "astro:assets";
import ListStyle from "images/list-style.svg";
import Grid from "../@common/Grid.astro";
import DiscreetDots from "../@common/DiscreetDots.astro";

const optimizedListStyle = await getImage({ src: ListStyle, format: "svg" });
---

<Grid as="div">
  <h2
    class="col-span-full lg:col-start-5 text-headline-small-highlight mb-5 lg:mb-6"
  >
    Exemples de missions
  </h2>

  <div class="col-span-full lg:col-start-5 relative">
    <div
      class="absolute hidden lg:block xl:hidden -top-[90px] -right-[calc(-100%-100px)]"
    >
      <DiscreetDots x={11} y={15} />
    </div>

    <div class="absolute hidden xl:block -top-4 -right-[calc(-100%-100px)]">
      <DiscreetDots x={16} y={16} />
    </div>
    <ul class="space-y-4 lg:space-y-0 text-body-normal-highlight">
      <li>Accompagnement à la transformation “users”</li>
      <li>Conception UX et test de PoCs, de prototypes</li>
      <li>Audits d’écosystèmes internes ou externes</li>
      <li>Refonte de sites, d’outils, d’applications métiers</li>
      <li>Recherche UX et développement de la connaissance “users”</li>
      <li>Animation de processus de design thinking, de design sprints</li>
      <li>Mise en place de projets d’accessibilité et d’éco-conception</li>
      <li>Design review, mentorat, consulting UX</li>
    </ul>
  </div>
</Grid>

<style define:vars={{ url: `url(${optimizedListStyle.src})` }}>
  li {
    @apply text-paragraph pl-[39px];

    background-image: var(--url);
    background-repeat: no-repeat;
    background-position: 0 10px;
  }
</style>
