---
import { getImage } from "astro:assets";
import ListStyle from "images/list-style.svg";
import Grid from "../@common/Grid.astro";
import DiscreetDots from "../@common/DiscreetDots.astro";

const optimizedListStyle = await getImage({ src: ListStyle, format: "svg" });
---

<Grid as="div">
  <h2
    class="col-span-full sm:col-start-2 lg:col-start-5 text-headline-small-highlight mb-5 lg:mb-6"
  >
    Exemples de missions
  </h2>

  <div
    class="col-span-full sm:col-start-2 sm:col-span-6 md:col-start-2 md:col-span-7 lg:col-start-5 relative"
  >
    <div
      class="absolute hidden lg:block xl:hidden -top-[90px] -right-[calc(-100%-100px)]"
    >
      <DiscreetDots x={11} y={15} />
    </div>

    <div
      class="absolute hidden xl:block -top-[70px] -right-[calc(-100%-100px)]"
    >
      <DiscreetDots x={16} y={16} />
    </div>
    <ul
      style={{ "--bg-image-url": `url(${optimizedListStyle.src})` }}
      class:list={[
        "space-y-4",
        "lg:space-y-0",
        "text-body-normal-highlight",
        "*:pl-[39px]",
        "*:text-paragraph",
        "*:bg-[left_12px]",
        `*:bg-(image:--bg-image-url)`,
        "*:bg-no-repeat",
      ]}
    >
      <li>Refonte ou création d’outils, de sites, d’applications métiers</li>
      <li><span lang="en">Consulting</span> UX et accompagnement à la transformation “<span lang="en">users</span>”</li>
      <li>Accompagnement d’équipes dirigeantes et structuration des processus design</li>
      <li>
        Recherche UX et développement de la connaissance “<span lang="en"
          >users</span
        >”
      </li>
      <li>Conception UX et test de PoCs, de prototypes</li>
      <li>Audits d’écosystèmes internes ou externes</li>
      <li>
        Animation de processus de <span lang="en">design thinking</span>, de <span
          lang="en">design sprints</span>
      </li>
      <li>
        <span lang="en">Design review</span> et mentorat en design UX, design accessible, standards de qualité Web
      </li>
    </ul>
  </div>
</Grid>
