---
const { x, y } = Astro.props;

interface Props {
  x: number;
  y: number;
}

const spacing = 22;
const size = 3;

let width = x * size + (x - 1) * spacing;
let height = y * size + (y - 1) * spacing;
---

<div
  style={{
    "--bg-image-url":
      "url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjIgMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8Y2lyY2xlIGN4PSIxLjUiIGN5PSIxLjUiIHI9IjEuNSIgZmlsbD0iIzBGMkUyMDQwIiAvPgo8L3N2Zz4=)",
    "--bg-position": "left top ",
    "--bg-size": "25px 25px",
    width: `${width}px`,
    height: `${height}px`,
  }}
  class="bg-(image:--bg-image-url) bg-(position:--bg-position) bg-(length:--bg-size)"
>
</div>
