---
import IconOpenInNew from "./IconOpenInNew.astro";

interface Props {
  variant: "inline" | "inline-radius" | "full-radius";
  to: string;
  class?: string;
  target?: string;
}

const { variant, to, class: cssClasses, ...props } = Astro.props;
---

{
  variant === "full-radius" && (
    <a href={to} {...props}>
      <span
        class:list={[
          "text-menu-label-highlight",
          "flex",
          "items-center",
          "space-x-2.5",
          "rounded-full",
          "shadow-cta",
          "w-fit",
          "py-2",
          "px-5",
          "hover:bg-neutral3",
          cssClasses,
        ]}
      >
        <span>
          <slot />
        </span>
        {props.target === "_blank" && <IconOpenInNew size="18" />}
      </span>
    </a>
  )
}
