---
import IconOpenInNew from "./IconOpenInNew.astro";

interface Props {
  variant: "inline" | "inline-radius" | "full-radius";
  to: string;
  class?: string;
}

const { variant, to, class: cssClasses } = Astro.props;

const isExternal = to.startsWith("http");
---

{
  variant === "full-radius" && (
    <a href={to} target={isExternal ? "_blank" : undefined}>
      <span
        class:list={[
          "text-menu-label-highlight",
          "flex items-center",
          "space-x-2.5",
          "rounded-full",
          "shadow-cta",
          "w-fit",
          "py-2",
          "px-5",
          "hover:bg-neutral3",
          cssClasses,
        ]}
      >
        <span>
          <slot />
        </span>
        <IconOpenInNew size="18" />
      </span>
    </a>
  )
}
