---
const links = [
  {
    label: "Aller au contenu",
    href: "#content",
  },
  {
    label: "Contact",
    href: "#contact",
  },
];
---

<div
  id="skiplinks"
  class="sticky top-0 w-full z-20 bg-neutral3 border border-primary"
>
  <div class="container relative">
    <nav
      class="sr-only focus-within:not-sr-only focus-within:py-3"
      role="navigation"
      aria-label="Accès rapide"
    >
      <ul class="flex space-x-2.5">
        {
          links.map(({ label, href }) => (
            <li>
              <a href={href} class="underline">
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>

<style>
  :global(#skiplinks:focus-within + header#header) {
    top: 48px;
  }
</style>
