---
import { getImage } from "astro:assets";
import MainLayout from "layouts/main.astro";
import Grid from "components/@common/Grid.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import Contact from "../components/Contact.astro";
import ListStyle from "images/list-style.svg";
import Separator from "../components/@common/Separator.astro";
import Fierte from "../components/a-propos/Fierte.astro";
import Link from "../components/@common/Link.astro";
import ExternalActivity from "../components/a-propos/ExternalActivity.astro";

const optimizedListStyle = await getImage({ src: ListStyle, format: "svg" });
---

<MainLayout
  title="À propos - Yuna Orsini - Stratégie et design UX freelance à Bordeaux"
  description="Découvrez mon parcours de designer stratégique et UX : mes fiertés professionnelles, ma formation, mes certifications et mes prises de parole récentes."
  og_title="À propos - Yuna Orsini - Stratégie et design UX freelance à Bordeaux"
  og_description="Découvrez mon parcours de designer stratégique et UX : mes fiertés professionnelles, ma formation, mes certifications et mes prises de parole récentes."
>
  <div class="my-[30px] lg:mt-[95px] lg:mb-10">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full xl:col-start-2">
          <h1 class="text-display-large">À propos</h1>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[50px] lg:hidden">
    <div class="container">
      <DiscreetDots x={10} y={4} />
    </div>
  </div>

  <div class="mb-[140px]">
    <div class="container">
      <Grid as="div">
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-7 xl:col-start-2 xl:col-span-6"
        >
          <div class="mb-[60px] space-y-[30px] lg:mb-0">
            <section>
              <h2 class="mb-5 text-headline-large-highlight">
                1989-2006 : Hello world!
              </h2>
              <p class="text-body-normal">
                J’ai toujours aimé apprendre. Au collège, je dévore les livres
                et je me passionne pour chaque matière enseignée au point qu’au
                même moment, ma prof de français m’imagine devenir prof de
                français et mon prof de maths me conseille de devenir prof... de
                maths. C’est sans compter ma rencontre avec le Web ! Windows 95,
                le modem qui bippe et quelques années plus tard, les forums
                phpBB de passionnés, Dreamweaver... À 12 ans, je crée mes
                premiers sites.
                <br />
                <br />
                Les années défilent. Au lycée, ma passion pour le numérique ne diminue
                pas. Au moment de choisir mes études, c’est le vertige... puis le
                soulagement, au hasard d’un forum d’orientation : “Quoi ? Je peux
                faire du webdesign, coder des sites et ça me donne un diplôme à la
                fin ?”. À 17 ans, je file en DUT Services et Réseaux de Communication
                et je vis ma meilleure vie.
              </p>
            </section>
            <section>
              <h2 class="mb-5 text-headline-large-highlight">
                2007-2016 : “Je veux faire de la stratégie”
              </h2>
              <p class="text-body-normal">
                En entreprises, je découvre les appels d’offres et les concepts
                de com’. Je comprends que le frisson ne se trouve pas que dans
                la prod’ mais aussi dans la conception stratégique. Pour ça, je
                dois poursuivre mes études. Je valide une Licence Information et
                Communication. Je décroche des stages passionnants en stratégie
                digitale à Paris et à Londres et j’obtiens en 2012 un Master
                Stratégies et Produits de Communication. Je commence à
                travailler en freelance pour les organisations dans lesquelles
                j’ai précédemment été stagiaire. En 2013, je deviens planneuse
                stratégique en agence de communication digitale.
                <br />
                <br />
                Au bout de quelques années, le bullshit des compétitions me fatigue
                un peu. Avec ma collègue Daniela, c’est le coup de foudre professionnel.
                Nous nous passionnons pour l’UX design et le design thinking, plus
                proches des gens, et nous développons ces expertises au sein de l’agence.
              </p>
            </section>
            <section>
              <h2 class="mb-5 text-headline-large-highlight">
                2017-now : le meilleur des deux mondes ?
              </h2>
              <p class="text-body-normal">
                En 2017, Daniela et moi sommes missionnées en freelance puis
                débauchées par une startup tech où il y a tout à faire – c’est à
                ce jour le leader du paywall en France. Encore quelques années
                de kiff en tant que Head of UX, et nous nous lançons
                officiellement en 2020 dans le grand bain du freelancing !
                <br />
                <br />
                Aujourd’hui, mon profil stratégique et technique est un atout dans
                les projets complexes. La diversité de mes expériences et mon attrait
                pour les relations humaines me confèrent une haute capacité d’adaptation,
                de compréhension et de résolution des problèmes. Mon expertise dans
                les champs dits éthiques du design (inclusion, accessibilité, fair
                patterns, éco-conception) est une force que je continue à nourrir
                par des formations régulières.
              </p>
            </section>
          </div>
        </div>

        <div class="col-span-full md:col-span-7 lg:col-start-9 lg:col-span-4">
          <div class="rounded-[20px] bg-neutral2 py-[30px] px-5">
            <ul class="about-me-enum space-y-[30px]">
              <li>
                <span class="text-title-small">Diplômée</span> d’un Master en Stratégies
                et Produits de Communication
              </li>
              <li>
                <span class="text-title-small">Certifiée</span> en design accessible,
                en numérique responsable et Opquast
              </li>
              <li>
                <span class="text-title-small">Formée</span> au service design, à
                l’éco-conception, aux tests d’utilisabilité, à la recherche UX et
                au design thinking
              </li>
              <li>
                <span class="text-title-small">Promue</span> maman en 2021 ❤️
              </li>
            </ul>
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6 lg:mb-5">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[100px] lg:mb-[140px]">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Mes fiertés professionnelles</h2>
      <Grid as="div">
        <div
          class="col-span-full sm:col-span-6 sm:col-start-2 lg:col-start-2 lg:col-span-full xl:col-start-3"
        >
          <ul class="space-y-[30px]">
            <li>
              <Fierte
                title="En 2020, j’ai co-fondé l’initiative freelance Team UX"
                description="Nous y affirmons un positionnement de design éthique fort avec un engagement sur l’accessibilité, l’inclusion, les fair patterns et l’éco-conception et nous excellons dans la refonte de produits dits complexes. À ce jour, Team UX a été l’extension UX de plus de 20 équipes produits dans 15 secteurs d’activité différents. Ma plus grande fierté professionnelle !"
              />

              <Link
                class="mt-[30px]"
                variant="full-radius"
                to="https://team-ux.com"
              >
                Faire appel à Team UX
                <span class="sr-only">(nouvelle fenêtre)</span>
              </Link>

              <Separator class="mt-[50px]" />
            </li>
            <li>
              <Fierte
                title="J’ai porté 3 ans la stratégie UX de la startup Poool"
                description="J’ai intégré la core team de la startup Poool, aujourd’hui leader du paywall en France, en tant que responsable UX. Mon action a été structurante pour obtenir la première levée de fonds : définition de la vision et de la roadmap produit, refonte totale et conception d’une suite de produits SaaS, structuration des processus de conception, culture design thinking…"
              />

              <Separator class="mt-[50px]" />
            </li>
            <li>
              <Fierte
                title="J’ai créé le pôle strat’ de l’agence MOONDA en 2013"
                description="J’ai proposé de créer mon poste dans cette agence digitale, entre newbiz et projets clients. En tant que planneuse stratégique puis UX designer, j’y ai développé une culture stratégique dans l’objectif de placer les marques du côté de leur clientèle. J’y ai aussi porté avec succès le chantier “communication & innovation”, créant une nouvelle dynamique interne et externe."
              />

              <Separator class="mt-[50px]" />
            </li>
            <li>
              <Fierte
                title="J’aide les plus juniors à monter en compétences depuis 2012"
                description="J’aime accompagner les personnes à grandir, que ce soit dans les structures dans lesquelles je travaille ou bien dans le cadre de mentorats individuels. J’interviens dans des écoles pour partager mon expérience et rencontrer de nouvelles promotions. Je m’investis aussi bénévolement au sein de Reboot!, l’événement étudiant de la communication responsable."
              />
            </li>
          </ul>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[100px] lg:mb-11">
    <div class="container">
      <Grid as="div" class="gap-y-4 lg:grid-rows-[auto_1fr]">
        <div class="col-span-full md:col-span-7 lg:col-span-6 lg:row-span-full">
          <ExternalActivity
            title="Certifications, formations et diplômes"
            items={[
              {
                title: "Certifications et formations professionnelles",
                events: [
                  {
                    title: "Design d’interfaces accessibles",
                    date: "Access42 (avril 2023)",
                  },
                  {
                    title: "Maîtrise de la qualité en projet Web (Expert)",
                    date: "Opquast (mars 2022)",
                  },
                  {
                    title: "Numérique responsable",
                    date: "La Rochelle Université (décembre 2021)",
                  },
                  {
                    title: "Service Design",
                    date: "IxDF (décembre 2021)",
                  },
                  {
                    title: "Tests d’utilisabilité à distance Testapic",
                    date: "UserTesting (mars 2021)",
                  },
                  {
                    title: "User research",
                    date: "IxDF (juillet 2019)",
                  },
                  {
                    title: "Conducting usability testing",
                    date: "IxDF (mars 2018)",
                  },
                  {
                    title: "Design thinking",
                    date: "IxDF (septembre 2017)",
                  },
                ],
              },
              {
                title: "Ateliers professionnels",
                events: [
                  {
                    title: "La Bataille de l’IA",
                    date: "Latitudes (mai 2024)",
                  },
                  {
                    title: "Climate Pitch",
                    date: "Planet on Stage (décembre 2023)",
                  },
                  {
                    title: "Low-carbon Web-Design Workshop",
                    date: "Hey Low (mai 2023)",
                  },
                  {
                    title: "Fresque du Numérique",
                    date: "Asso Fresque du Numérique (janvier 2023)",
                  },
                  {
                    title: "Fresque de l'Éthique dans le design numérique",
                    date: "Designers Éthiques (septembre 2022)",
                  },
                  {
                    title: "Fresque du Climat",
                    date: "Asso Fresque du Climat (février 2022)",
                  },
                  {
                    title: "Atelier pro éco-conception et design numérique",
                    date: "Designers Éthiques (novembre 2021)",
                  },
                ],
              },
              {
                title: "Diplômes et formation initiale",
                events: [
                  {
                    title: "Master Stratégies et Produits de Communication",
                    date: "ISIC, Bordeaux (2010 → 2012)",
                  },
                  {
                    title: "Licence Information et Communication",
                    date: "ISIC, Bordeaux (2009 → 2010)",
                  },
                  {
                    title: "DUT Services et Réseaux de Communication",
                    date: "MMI, Bordeaux (2007 → 2009)",
                  },
                ],
              },
            ]}
          />
        </div>
        <div class="col-span-full md:col-span-7 lg:col-span-6">
          <ExternalActivity
            title="Interventions pédagogiques"
            items={[
              {
                title: "Interventions en écoles depuis 2012",
                description:
                  "Cours, suivi annuel, workshops, jurys d’admission en BUT MMI Bordeaux, à l’ECV Digital et à l’ESD Bordeaux (Bac+1 à Bac+5)",
              },
              {
                title: "Engagement bénévole à Reboot! depuis 2021",
                description:
                  "Événement étudiant de la communication responsable, Reboot! forme chaque année des milliers d’étudiantes et étudiants",
              },
            ]}
          />
        </div>
        <div class="col-span-full md:col-span-7 lg:col-span-6">
          <ExternalActivity
            title="Prises de parole en public"
            items={[
              {
                title: "Dernière conférence donnée",
                description:
                  "“Au-delà des clichés sur l’éco-conception : des exemples créatifs pour changer notre vision” (BDX I/O 2023)",
              },
              {
                title: "Dernière table ronde modérée",
                description:
                  "“Communautés éthiques : s'organiser pour ne plus nuire” (Reboot! 2023)",
              },
            ]}
          />
        </div>
      </Grid>
    </div>
  </div>

  <div id="contact" class="mb-[23px] lg:mb-4">
    <div class="container">
      <Contact view="full" />
    </div>
  </div>

  <div class="mb-[50px] sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <style define:vars={{ url: `url(${optimizedListStyle.src})` }}>
    .about-me-enum li {
      @apply text-body-normal;

      padding-left: 37px;

      background-image: var(--url);
      background-repeat: no-repeat;
      background-position: 0 10px;
    }
  </style>
</MainLayout>
