---
import MainLayout from "layouts/main.astro";
import Grid from "components/@common/Grid.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import Separator from "../components/@common/Separator.astro";
import Contact from "../components/Contact.astro";
import MissionsSummary from "components/collaborations/MissionsSummary.astro";
import ClientsLogos from "../components/collaborations/ClientsLogos.astro";
import Projects from "../components/collaborations/Projects.astro";
---

<MainLayout
  title="Collaborations - Yuna Orsini - Stratégie et design UX freelance à Bordeaux"
  description="Découvrez une sélection des projets sur lesquels j’ai récemment travaillé, entre expertise UX, vision stratégique et design éthique."
  og_title="Collaborations - Yuna Orsini - Stratégie et design UX freelance à Bordeaux"
  og_description="Découvrez une sélection de mes projets : design accessible, transformation produit, conception UX, recherche UX, tests d’utilisabilité..."
>
  <div class="mt-[30px] mb-5 lg:mt-[95px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full xl:col-start-2">
          <h1 class="text-display-large mb-[30px] lg:mb-10">Collaborations</h1>
        </div>
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-7 xl:col-start-2"
        >
          <p class="text-body-normal text-paragraph lg:mb-20">
            J’accompagne des équipes de toutes tailles, provenant de nombreux
            secteurs et sur des périmètres riches et variés. Cette diversité de
            projets est un choix, pour un plaisir et un challenge renouvelés à
            chaque collaboration.
          </p>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[50px] lg:hidden">
    <div class="container">
      <DiscreetDots x={10} y={5} />
    </div>
  </div>

  <div class="mb-[100px] lg:mb-[140px]">
    <div class="container">
      <div class="lg:pt-4">
        <MissionsSummary />
      </div>
    </div>
  </div>

  <div class="mb-40 lg:mb-[207px]">
    <div class="container">
      <ClientsLogos />
    </div>
  </div>

  <div class="mb-6 lg:mb-5">
    <Separator />
  </div>

  <div class="mb-[100px] lg:mb-12">
    <div class="container">
      <Projects />
    </div>
  </div>

  <div id="contact" class="mb-5">
    <div class="container">
      <Contact view="full" />
    </div>
  </div>

  <div class="mb-[50px] sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>
</MainLayout>
