---
import MainLayout from "layouts/main.astro";
import Grid from "components/@common/Grid.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import MissionsSummary from "../components/collaborations/MissionsSummary.astro";
---

<MainLayout
  title="Collaborations"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <div class="mt-[30px] mb-5">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <h1 class="text-display-large mb-[30px]">Collaborations</h1>
        </div>
        <div class="col-span-full">
          <p class="text-body-normal text-paragraph">
            J’accompagne des équipes de toutes tailles, provenant de nombreux
            secteurs et sur des périmètres riches et variés. Cette diversité de
            projets est un choix, pour un plaisir et un challenge renouvelés à
            chaque collaboration.
          </p>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[50px]">
    <div class="container">
      <DiscreetDots x={10} y={4} />
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="container">
      <MissionsSummary />
    </div>
  </div>
</MainLayout>
