---
import MainLayout from "layouts/main.astro";
import Grid from "components/@common/Grid.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import Separator from "../components/@common/Separator.astro";
import Contact from "../components/Contact.astro";
import MissionsSummary from "components/collaborations/MissionsSummary.astro";
import ClientsLogos from "../components/collaborations/ClientsLogos.astro";
import Projects from "../components/collaborations/Projects.astro";
---

<MainLayout
  title="Collaborations"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <div class="mt-[30px] mb-5">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full xl:col-start-2">
          <h1 class="text-display-large mb-[30px] xl:mb-10">Collaborations</h1>
        </div>
        <div class="col-span-full xl:col-start-2 xl:col-span-6">
          <p class="text-body-normal text-paragraph xl:mb-20">
            J’accompagne des équipes de toutes tailles, provenant de nombreux
            secteurs et sur des périmètres riches et variés. Cette diversité de
            projets est un choix, pour un plaisir et un challenge renouvelés à
            chaque collaboration.
          </p>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[50px] xl:hidden">
    <div class="container">
      <DiscreetDots x={10} y={4} />
    </div>
  </div>

  <div class="relative mb-[100px] xl:mb-[140px]">
    <div class="absolute hidden xl:block ml-5">
      <DiscreetDots x={16} y={16} />
    </div>
    <div class="container">
      <div class="xl:pt-4">
        <MissionsSummary />
      </div>
    </div>
  </div>

  <div class="mb-40 xl:mb-[207px]">
    <div class="container">
      <ClientsLogos />
    </div>
  </div>

  <div class="mb-6">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="container">
      <Projects />
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[23px]">
    <div class="container">
      <Contact view="full" />
    </div>
  </div>

  <div class="mb-[50px] sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>
</MainLayout>
