---
import MainLayout from "layouts/main.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import Grid from "components/@common/Grid.astro";
import Contact from "components/Contact.astro";
import Separator from "components/@common/Separator.astro";
import Service from "components/homepage/Service.astro";
import Certifications from "components/homepage/Certifications.astro";
import Testimonial from "components/homepage/Testimonial.astro";
import Tag from "components/@common/Tag.astro";
import LatestCollaborations from "components/homepage/LatestCollaborations.astro";
import Icon from "../components/@common/Icon.astro";
---

<MainLayout
  title="Yuna Orsini - Stratégie et design UX freelance à Bordeaux - Mes expertises"
  description="Je suis designer stratégique senior & lead UX. Attentive aux détails et aux autres, j'aide les équipes à concrétiser la vision produit, avec un focus sur l’accessibilité, l’éco-conception et la qualité."
  og_title="Yuna Orsini - Stratégie et design UX freelance à Bordeaux - Mes expertises"
  og_description="Je suis Yuna Orsini, designer stratégique senior & lead UX à Bordeaux. Découvrez mes expertises et mon parcours."
>
  <div class="mb-[25px] sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[30px] sm:mb-[46px] lg:mb-10 lg:mt-[47px]">
    <div class="container">
      <div class="relative">
        <div class="absolute hidden right-0 sm:block lg:hidden">
          <DiscreetDots x={7} y={6} />
        </div>
      </div>
      <Grid as="div" class="relative sm:pt-[100px] lg:pt-10">
        <div class="absolute hidden lg:block xl:hidden top-0 -right-10">
          <DiscreetDots x={11} y={24} />
        </div>
        <div class="absolute hidden xl:block top-0 -right-10">
          <DiscreetDots x={16} y={24} />
        </div>
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-full xl:col-start-2 xl:col-span-11 2xl:col-start-2 2xl:col-span-9"
        >
          <div class="mb-7">
            <Tag
              text="UX <span lang='en'>designer freelance</span>, Bordeaux et à distance"
            />
          </div>
          <h1 class="text-display-large">
            Je suis Yuna Orsini,
            <span class="text-display-large-highlight">
              <span lang="en">designer</span> stratégique senior &
              <span lang="en">lead</span> UX
            </span>
          </h1>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-25 sm:mb-25">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full sm:col-span-7 xl:col-start-2">
          <p class="text-body-normal text-paragraph mb-[25px] sm:mb-[30px]">
            J’architecture des produits et services numériques efficaces, sobres
            et accessibles. J’aime relever des défis complexes, élaborer des
            stratégies adaptées, aligner les actions. Attentive aux détails et
            aux autres, j'aide les équipes à concrétiser la vision produit et à
            grandir.
          </p>
          <p
            class="text-body-normal text-paragraph mb-[25px] sm:mb-[30px] lg:mb-10"
          >
            En 14 années d’expérience<sup
              class="inline-block ml-1 text-body-normal top-0 underline-offset-[-4px]"
            >
              <a
                class="underline scroll-mt-[50vh]"
                id="ref-xp-note"
                href="#xp-note"
                aria-label="Note 1">*</a
              >
            </sup>, j’ai exploré plusieurs facettes du design en tant que
            planneuse stratégique en agences,
            <span lang="en">product designer</span> en <span lang="en"
              >freelance</span
            > ou responsable UX en startup tech.
          </p>
          <a
            href="#contact"
            class="text-menu-label-highlight text-neutral1 inline-block px-5 py-2 rounded-full bg-primary hover:shadow-cta hover:text-primary hover:bg-neutral3"
            >Faire appel à mes services</a
          >
        </div>
        <div class="col-span-3 sm:col-span-4 lg:col-span-full">
          <Grid as="div">
            <div
              class="col-span-full lg:col-start-10 lg:col-span-3 xl:col-start-10 xl:col-span-2"
            >
              <aside aria-label="Notes">
                <p
                  id="xp-note"
                  class="text-body-small text-primary mt-10 lg:mt-0 2xl:mt-12 scroll-mt-[50vh]"
                >
                  *23 années, si créer des sites sur Dreamweaver à la sortie du
                  collège puis en coder pour le fun au lycée et à la fac, ça
                  compte.
                </p>
              </aside>
            </div>
          </Grid>
        </div>
      </Grid>
      <div class="relative hidden sm:block lg:hidden">
        <div class="absolute bottom-0 right-0 translate-y-[30px]">
          <DiscreetDots x={6} y={6} />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 sm:mb-25">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full xl:col-start-2">
          <h2 class="text-title-small mb-2.5">
            On a récemment travaillé ensemble
          </h2>
        </div>

        <div
          class="col-span-full sm:col-span-6 md:col-span-full xl:col-start-2"
        >
          <LatestCollaborations />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-5 sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={4} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6 xl:mb-5">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[50px] sm:mb-[80px] lg:mb-[110px]">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Mes services</h2>

      <ul class="space-y-[30px] text-body-normal-highlight">
        <li>
          <Grid as="div">
            <Service
              title="Expertise UX"
              description="J’ai une expérience éprouvée sur des projets UX complexes, notamment SaaS et B2B, aux enjeux ergonomiques, <span lang='en'>business</span>, humains et organisationnels. Cadrage, recherche, ateliers, architecture de l’information, prototypage, tests... je conçois des produits efficaces avec des équipes multidisciplinaires et j’embarque personnes utilisatrices et parties prenantes."
              skills={[
                "Méthodologies UX",
                "<span lang='en'>UX research</span>",
                "Design UX",
                "<span lang='en'>Design thinking</span>",
              ]}
            />
          </Grid>

          <Grid as="div" class="mt-[50px]">
            <Separator class="col-span-full lg:col-start-2 xl:col-start-3" />
          </Grid>
        </li>
        <li>
          <Grid as="div">
            <Service
              title="Vision stratégique"
              description="Stratège de formation, de métier et de caractère, j’analyse naturellement les situations. Je conceptualise des solutions pertinentes et pragmatiques pour optimiser parcours, services ou manières de collaborer. Je propose et porte des projets avec cohérence, j’aligne vision et actions. J’aime questionner, apprendre des personnes qui m’entourent et les faire grandir."
              skills={[
                "Analyse stratégique",
                "Mentorat et <span lang='en'>consulting</span>",
                "Esprit d’entreprendre",
                "<span lang='en'>Design ops</span>",
              ]}
            />
          </Grid>

          <Grid as="div" class="mt-[50px]">
            <Separator class="col-span-full lg:col-start-2 xl:col-start-3" />
          </Grid>
        </li>
        <li>
          <Grid as="div">
            <Service
              title="Design éthique"
              description="Formée à l’assurance qualité Web, au design d’interfaces accessibles et à l’éco-conception, je milite depuis des années pour un numérique meilleur. Je fais des choix de conception attentifs et raisonnés. Je sensibilise et accompagne les équipes et la clientèle dans cette direction plus acceptable : accessibilité, <span lang='en'>fair patterns</span>, inclusivité, écoconception, soin, qualité…"
              skills={[
                "Design accessible",
                "Éco-conception",
                "Responsabilités du numérique",
                "Communication",
              ]}
            />
          </Grid>
        </li>
      </ul>

      <Grid as="div" class="mt-[50px]">
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-start-2 xl:col-start-3"
        >
          <a
            href="/collaborations"
            class="text-menu-label-highlight flex items-center space-x-2.5 rounded-full shadow-cta w-fit py-2 px-5 hover:bg-neutral3"
          >
            <span>Comment collaborer ?</span>
            <Icon name="arrow_right_alt" size="15" />
          </a>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-5 sm:mb-25">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full xl:col-start-2">
          <h2 class="text-title-small mb-2.5">
            Je suis certifiée et/ou formée par
          </h2>
        </div>

        <div
          class="col-span-full sm:col-span-6 md:col-span-full xl:col-start-2"
        >
          <Certifications />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <Contact view="intermediary" />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[100px] lg:mb-11">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Travailler avec moi</h2>
      <Grid as="div">
        <ul
          class="space-y-4 col-span-full lg:col-start-2 xl:col-start-3 lg:space-y-5"
        >
          <li>
            <Testimonial
              quote="Collaborer avec Yuna est très gratifiant. Son exigence permet des échanges aussi agréables que fructueux. Elle pose les bonnes questions, lance des défis et encourage ses partenaires. Avec sa vision à long terme, elle établit des bases solides pour que les marques se développent de manière cohérente et efficace."
              author="Christophe Pernaudet, directeur créatif et concepteur-rédacteur"
              context="Christophe a été un partenaire sur plusieurs projets"
            />
          </li>
          <li>
            <Testimonial
              quote="Yuna est brillante, intègre et cultivée. Elle se préoccupe sincèrement des personnes, qu'il s'agisse des gens avec qui elle travaille (collaborateurs) ou des gens pour qui elle travaille (utilisateurs). Et en plus, elle est patiente et pédagogue !"
              author="Arnaud Levy, co-fondateur de noesya"
              context="Arnaud a été mon enseignant, puis mon employeur, puis un partenaire de projets"
            />
          </li>
          <li>
            <Testimonial
              quote="Yuna fait partie de mes collaborations professionnelles les plus enrichissantes. En plus de ses connaissances autant stratégiques que techniques, Yuna est tellement passionnée et investie qu'elle fait toujours ressortir le meilleur de chaque personne dans son équipe."
              author="Declan Owens, consultant en transition écologique"
              context="Declan a été mon collègue pendant plusieurs années"
            />
          </li>
          <li>
            <Testimonial
              quote="En plus de son rôle de <span lang='en'>Head of UX</span>, Yuna nous a permis à travers de nombreux ateliers de <span lang='en'>design thinking</span> de transcrire des choses complexes et diffuses, en des idées simples, comprises de tous et activables. Quelle que soit la thématique (stratégie, produit, design, UX…), le résultat est toujours au RDV."
              author="Maxime Moné, co-fondateur de Poool"
              context="Maxime a été mon employeur pendant plusieurs années"
            />
          </li>
          <li>
            <Testimonial
              quote="Yuna est une personne volontaire, perfectionniste, investie, qui cherche toujours à aller plus loin. Elle sait aussi faire grandir les gens travaillant directement sous sa responsabilité et orchestre avec respect le travail des équipes intervenant sur ses projets."
              author="Aurélie Oudry, responsable des comptes stratégiques chez Conserto"
              context="Aurélie a été ma <span lang='en'>manager</span> pendant plusieurs années, puis à plusieurs reprises ma cliente"
            />
          </li>
        </ul>
        <div class="col-span-full lg:col-start-2 xl:col-start-3 mt-[50px]">
          <a
            href="/collaborations"
            class="text-menu-label-highlight flex items-center space-x-2.5 rounded-full shadow-cta w-fit py-2 px-5 hover:bg-neutral3"
          >
            <span>Plus de témoignages</span>
            <Icon name="arrow_right_alt" size="15" />
          </a>
        </div>
      </Grid>
    </div>
  </div>

  <div id="contact" class="mb-[22px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <Contact view="full" />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[22px] lg:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>
</MainLayout>
