---
import MainLayout from "layouts/main.astro";
import DiscreetDots from "../components/@common/DiscreetDots.astro";
import Grid from "../components/@common/Grid.astro";
---

<MainLayout
  title="Home"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <div class="container">
    <div class="flex justify-end">
      <DiscretDots x={7} y={6} />
    </div>
  </div>
</MainLayout>
