---
import MainLayout from "layouts/main.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import Grid from "components/@common/Grid.astro";
import Contact from "components/Contact.astro";
import Separator from "components/@common/Separator.astro";
import Service from "components/homepage/Service.astro";
import Certifications from "components/homepage/Certifications.astro";
import Testimonial from "components/homepage/Testimonial.astro";
---

<MainLayout
  title="Home"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <div class="mb-[25px] sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[30px] sm:mb-[46px] lg:mb-10">
    <div class="container">
      <div class="relative">
        <div class="absolute hidden right-0 sm:block lg:hidden">
          <DiscreetDots x={7} y={6} />
        </div>
      </div>
      <div class="sm:pt-[100px]">
        <Grid as="div" class="relative">
          <div class="absolute hidden right-0 lg:block -top-12">
            <DiscreetDots x={16} y={24} />
          </div>
          <div
            class="col-span-full sm:col-span-7 lg:col-span-full 2xl:col-start-2 2xl:col-span-9"
          >
            <h1 class="text-display-large">
              Je suis Yuna Orsini. <br /> Je suis <span
                class="text-display-large-highlight"
                >designer stratégique senior & lead UX.</span
              >
            </h1>
          </div>
        </Grid>
      </div>
    </div>
  </div>

  <div class="mb-5 sm:mb-20">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full sm:col-span-5 2xl:col-start-2 2xl:col-span-5">
          <p class="text-body-normal text-paragraph mb-[25px] sm:mb-[30px]">
            J’aime relever des défis complexes – UX, techniques,
            organisationnels… J’élabore des stratégies adaptées, j’y aligne les
            actions et j’architecture des produits et services numériques
            efficaces, sobres et accessibles. Attentive aux détails et aux
            autres, j'aide les équipes à concrétiser la vision produit et à
            grandir.
          </p>
          <p class="text-body-normal text-paragraph mb-[25px] sm:mb-[30px]">
            Je m’appuie sur 13 années d’expérience* où j’ai exploré plusieurs
            facettes du design comme planneuse stratégique en agences, product
            strategist en freelance ou responsable UX en startup tech.
          </p>
        </div>
        <div class="col-span-3 sm:col-span-4 lg:col-span-full">
          <Grid as="div">
            <div
              class="col-span-full lg:col-start-9 lg:col-span-3 xl:col-start-10 xl:col-span-2"
            >
              <p class="text-body-small text-primary lg:mt-5">
                *22 années, si créer des sites sur Dreamweaver à la sortie du
                collège puis en coder pour le fun au lycée et à la fac, ça
                compte.
              </p>
            </div>
          </Grid>
        </div>
      </Grid>
      <div class="relative hidden sm:block lg:hidden">
        <div class="absolute bottom-0 right-0 translate-y-[30px]">
          <DiscreetDots x={6} y={6} />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={4} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6 xl:mb-5">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[50px] lg:mb-[110px]">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Mes services</h2>

      <ul class="space-y-[30px] text-body-normal-highlight">
        <li>
          <Service
            title="Expertise UX"
            description="J’ai une expérience éprouvée sur des projets UX complexes, notamment SaaS et B2B, où cohabitent des enjeux ergonomiques, business, humains et organisationnels. Cadrage, recherche, ateliers, architecture de l’information, prototypage, tests… je conçois des produits efficaces avec des équipes multidisciplinaires et j’embarque personnes utilisatrices et parties prenantes."
            skills={[
              "Méthodologies UX",
              "UX research",
              "Design UX",
              "Design thinking",
            ]}
          />

          <Grid as="div" class="mt-[50px]">
            <Separator class="col-span-full lg:col-start-3" />
          </Grid>
        </li>
        <li>
          <Service
            title="Vision stratégique"
            description="Stratège de formation, de métier et de caractère, j’analyse naturellement les situations. Je conceptualise des solutions pertinentes et pragmatiques pour optimiser parcours, services ou manières de collaborer. Je propose et porte des projets avec cohérence, j’aligne vision et actions. J’aime échanger, questionner, apprendre des personnes qui m’entourent et les faire grandir."
            skills={[
              "Analyse stratégique",
              "Mentorat et consulting",
              "Esprit d’entreprendre",
              "Design ops",
            ]}
          />

          <Grid as="div" class="mt-[50px]">
            <Separator class="col-span-full lg:col-start-3" />
          </Grid>
        </li>
        <li>
          <Service
            title="Design éthique"
            description="Formée à l’assurance qualité Web, au design d’interfaces accessibles et à l’éco-conception, je milite depuis des années pour un numérique meilleur. Je fais des choix de conception de manière attentive et raisonnée. Je sensibilise et accompagne les équipes et la clientèle dans cette direction plus acceptable : accessibilité, fair patterns, inclusivité, écoconception, soin, qualité…"
            skills={[
              "Design accessible",
              "Éco-conception",
              "Responsabilités du numérique",
              "Communication",
            ]}
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-[120px] sm:mb-[100px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full lg:col-start-3">
          <h2 class="text-title-small mb-2.5">
            Je suis formée, certifiée ou diplômée par
          </h2>
        </div>

        <div
          class="col-span-full sm:col-span-6 lg:col-start-3 lg:col-span-full"
        >
          <Certifications />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full sm:col-span-6">
          <Contact view="intermediary" />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Travailler avec moi</h2>
      <Grid as="ul" class="gap-y-4">
        <div class="col-span-full sm:col-span-6">
          <ul class="space-y-4 lg:space-y-5">
            <li>
              <Testimonial
                quote="J’ai eu la chance de travailler avec Yuna Orsini à plusieurs reprises. Collaborer avec elle est très gratifiant. Son exigence permet des échanges aussi agréables que fructueux. Elle pose les bonnes questions, lance des défis et encourage ses partenaires. Avec sa vision à long terme, elle établit des bases solides pour que les marques se développent de manière cohérente et efficace.”"
                author="Christophe Pernaudet, directeur créatif et concepteur-rédacteur"
                context="Christophe a été un partenaire et prestataire sur plusieurs projets"
              />
            </li>
            <li>
              <Testimonial
                quote="Tout simplement ravis de la collaboration avec Yuna. La qualité de son travail, de l'accompagnement de clients novices en la matière, des livrables et des analyses constructives et son dynamisme ont été un vrai plus pour ce projet.”"
                author="Alexandre Pronine, manager technique senior"
                context="Alexandre a été à plusieurs reprises mon client"
              />
            </li>
            <li>
              <Testimonial
                quote="Yuna est brillante, intègre et cultivée. Elle se préoccupe sincèrement des personnes, qu'il s'agisse des gens avec qui elle travaille (collaborateurs) ou des gens pour qui elle travaille (utilisateurs). Et en plus, elle est patiente et pédagogue !”"
                author="Arnaud Levy, co-fondateur de noesya"
                context="Arnaud a été mon enseignant, puis mon employeur, puis un partenaire de projets"
              />
            </li>
            <li>
              <Testimonial
                quote="Yuna fait partie de mes collaborations professionnelles les plus enrichissantes. En plus de ses connaissances autant stratégiques que techniques, Yuna est tellement passionnée et investie qu'elle fait toujours ressortir le meilleur de chaque personne dans son équipe.”"
                author="Declan Owens, consultant en transition écologique"
                context="Declan était mon collègue pendant plusieurs années"
              />
            </li>
            <li>
              <Testimonial
                quote="En plus de son rôle de Head of UX, Yuna nous a permis à travers de nombreux ateliers de design thinking de transcrire des choses complexes et diffuses, en des idées simples, comprises de tous et activables. Quelle que soit la thématique (stratégie, produit, design, UX…), le résultat est toujours au RDV.”"
                author="Maxime Moné, co-fondateur de Poool"
                context="Maxime était mon employeur pendant plusieurs années"
              />
            </li>
            <li>
              <Testimonial
                quote="Yuna est une personne volontaire, perfectionniste, investie, qui cherche toujours à aller plus loin. Elle sait aussi faire grandir les gens travaillant directement sous sa responsabilité et orchestre avec respect le travail des équipes intervenant sur ses projets.”"
                author="Aurélie, responsable de BU chez Conserto"
                context="Aurélie a été ma manager pendant plusieurs années, puis à plusieurs reprises ma cliente"
              />
            </li>
          </ul>
        </div>
      </Grid>
    </div>
  </div>

  <div id="contact" class="mb-[22px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full sm:col-span-6">
          <Contact view="full" />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[22px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>
</MainLayout>
