---
import MainLayout from "layouts/main.astro";
import DiscreetDots from "components/@common/DiscreetDots.astro";
import Grid from "components/@common/Grid.astro";
import Contact from "components/Contact.astro";
import Separator from "components/@common/Separator.astro";
import Service from "components/homepage/Service.astro";
import Certifications from "components/homepage/Certifications.astro";
import Testimonial from "components/homepage/Testimonial.astro";
---

<MainLayout
  title="Yuna Orsini - Stratégie et design UX freelance à Bordeaux - Mes expertises"
  description="Je suis designer stratégique senior & lead UX. Attentive aux détails et aux autres, j'aide les équipes à concrétiser la vision produit, avec un focus sur l’accessibilité, l’éco-conception et la qualité."
  og_title="Yuna Orsini - Stratégie et design UX freelance à Bordeaux - Mes expertises"
  og_description="Je suis Yuna Orsini, designer stratégique senior & lead UX à Bordeaux. Découvrez mes expertises et mon parcours."
>
  <div class="mb-[25px] sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[30px] sm:mb-[46px] lg:mb-10 lg:mt-[47px]">
    <div class="container">
      <div class="relative">
        <div class="absolute hidden right-0 sm:block lg:hidden">
          <DiscreetDots x={7} y={6} />
        </div>
      </div>
      <Grid as="div" class="relative sm:pt-[100px] lg:pt-12">
        <div class="absolute hidden lg:block xl:hidden top-0 -right-10">
          <DiscreetDots x={11} y={24} />
        </div>
        <div class="absolute hidden xl:block top-0 -right-10">
          <DiscreetDots x={16} y={24} />
        </div>
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-full xl:col-start-2 xl:col-span-10 2xl:col-start-2 2xl:col-span-9"
        >
          <h1 class="text-display-large">
            Je suis Yuna Orsini. <br /> Je suis <span
              class="text-display-large-highlight"
              >designer stratégique senior & lead UX.</span
            >
          </h1>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-5 sm:mb-20">
    <div class="container">
      <Grid as="div">
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-6 xl:col-start-2 xl:col-span-6"
        >
          <p class="text-body-normal text-paragraph mb-[25px] sm:mb-[30px]">
            J’aime relever des défis complexes – UX, tech,
            organisationnels… J’élabore des stratégies adaptées, j’y aligne les
            actions et j’architecture des produits et services numériques
            efficaces, sobres et accessibles. Attentive aux détails et aux
            autres, j'aide les équipes à concrétiser la vision produit et à
            grandir.
          </p>
          <p class="text-body-normal text-paragraph mb-[25px] sm:mb-[30px]">
            Je m’appuie sur 13 années d’expérience* où j’ai exploré plusieurs
            facettes du design comme planneuse stratégique en agences, product
            designer en freelance ou responsable UX en startup tech.
          </p>
        </div>
        <div class="col-span-3 sm:col-span-4 lg:col-span-full">
          <Grid as="div">
            <div
              class="col-span-full lg:col-start-10 lg:col-span-3 xl:col-start-10 xl:col-span-2"
            >
              <p class="text-body-small text-primary lg:mt-5">
                *22 années, si créer des sites sur Dreamweaver à la sortie du
                collège puis en coder pour le fun au lycée et à la fac, ça
                compte.
              </p>
            </div>
          </Grid>
        </div>
      </Grid>
      <div class="relative hidden sm:block lg:hidden">
        <div class="absolute bottom-0 right-0 translate-y-[30px]">
          <DiscreetDots x={6} y={6} />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 sm:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={4} />
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6 xl:mb-5">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[50px] sm:mb-[80px] lg:mb-[110px]">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Mes services</h2>

      <ul class="space-y-[30px] text-body-normal-highlight">
        <li>
          <Grid as="div">
            <Service
              title="Expertise UX"
              description="J’ai une expérience éprouvée sur des projets UX complexes, notamment SaaS et B2B, aux enjeux ergonomiques, business, humains et organisationnels. Cadrage, recherche, ateliers, architecture de l’information, prototypage, tests... je conçois des produits efficaces avec des équipes multidisciplinaires et j’embarque personnes utilisatrices et parties prenantes."
              skills={[
                "Méthodologies UX",
                "UX research",
                "Design UX",
                "Design thinking",
              ]}
            />
          </Grid>

          <Grid as="div" class="mt-[50px]">
            <Separator class="col-span-full lg:col-start-2 xl:col-start-3" />
          </Grid>
        </li>
        <li>
          <Grid as="div">
            <Service
              title="Vision stratégique"
              description="Stratège de formation, de métier et de caractère, j’analyse naturellement les situations. Je conceptualise des solutions pertinentes et pragmatiques pour optimiser parcours, services ou manières de collaborer. Je propose et porte des projets avec cohérence, j’aligne vision et actions. J’aime questionner, apprendre des personnes qui m’entourent et les faire grandir."
              skills={[
                "Analyse stratégique",
                "Mentorat et consulting",
                "Esprit d’entreprendre",
                "Design ops",
              ]}
            />
          </Grid>

          <Grid as="div" class="mt-[50px]">
            <Separator class="col-span-full lg:col-start-2 xl:col-start-3" />
          </Grid>
        </li>
        <li>
          <Grid as="div">
            <Service
              title="Design éthique"
              description="Formée à l’assurance qualité Web, au design d’interfaces accessibles et à l’éco-conception, je milite depuis des années pour un numérique meilleur. Je fais des choix de conception attentifs et raisonnés. Je sensibilise et accompagne les équipes et la clientèle dans cette direction plus acceptable : accessibilité, fair patterns, inclusivité, écoconception, soin, qualité…"
              skills={[
                "Design accessible",
                "Éco-conception",
                "Responsabilités du numérique",
                "Communication",
              ]}
            />
          </Grid>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-[120px] sm:mb-[100px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full lg:col-start-2">
          <h2 class="text-title-small mb-2.5">
            Je suis formée, certifiée ou diplômée par
          </h2>
        </div>

        <div
          class="col-span-full sm:col-span-6 md:col-span-full lg:col-start-2"
        >
          <Certifications />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[100px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <Contact view="intermediary" />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-6">
    <div class="2xl:container">
      <Separator />
    </div>
  </div>

  <div class="mb-[100px] lg:mb-11">
    <div class="container">
      <h2 class="text-title-large mb-[50px]">Travailler avec moi</h2>
      <Grid as="div">
        <ul
          class="space-y-4 col-span-full lg:col-start-2 xl:col-start-3 lg:space-y-5"
        >
          <li>
            <Testimonial
              quote="Collaborer avec Yuna est très gratifiant. Son exigence permet des échanges aussi agréables que fructueux. Elle pose les bonnes questions, lance des défis et encourage ses partenaires. Avec sa vision à long terme, elle établit des bases solides pour que les marques se développent de manière cohérente et efficace."
              author="Christophe Pernaudet, directeur créatif et concepteur-rédacteur"
              context="Christophe a été un partenaire sur plusieurs projets"
            />
          </li>
          <li>
            <Testimonial
              quote="Yuna est brillante, intègre et cultivée. Elle se préoccupe sincèrement des personnes, qu'il s'agisse des gens avec qui elle travaille (collaborateurs) ou des gens pour qui elle travaille (utilisateurs). Et en plus, elle est patiente et pédagogue !"
              author="Arnaud Levy, co-fondateur de noesya"
              context="Arnaud a été mon enseignant, puis mon employeur, puis un partenaire de projets"
            />
          </li>
          <li>
            <Testimonial
              quote="Yuna fait partie de mes collaborations professionnelles les plus enrichissantes. En plus de ses connaissances autant stratégiques que techniques, Yuna est tellement passionnée et investie qu'elle fait toujours ressortir le meilleur de chaque personne dans son équipe."
              author="Declan Owens, consultant en transition écologique"
              context="Declan a été mon collègue pendant plusieurs années"
            />
          </li>
          <li>
            <Testimonial
              quote="En plus de son rôle de Head of UX, Yuna nous a permis à travers de nombreux ateliers de design thinking de transcrire des choses complexes et diffuses, en des idées simples, comprises de tous et activables. Quelle que soit la thématique (stratégie, produit, design, UX…), le résultat est toujours au RDV."
              author="Maxime Moné, co-fondateur de Poool"
              context="Maxime a été mon employeur pendant plusieurs années"
            />
          </li>
          <li>
            <Testimonial
              quote="Yuna est une personne volontaire, perfectionniste, investie, qui cherche toujours à aller plus loin. Elle sait aussi faire grandir les gens travaillant directement sous sa responsabilité et orchestre avec respect le travail des équipes intervenant sur ses projets."
              author="Aurélie Oudry, responsable des comptes stratégiques chez Conserto"
              context="Aurélie a été ma manager pendant plusieurs années, puis à plusieurs reprises ma cliente"
            />
          </li>
        </ul>
      </Grid>
    </div>
  </div>

  <div id="contact" class="mb-[22px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <Contact view="full" />
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-[22px] lg:hidden">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full">
          <div class="flex justify-end">
            <DiscreetDots x={7} y={6} />
          </div>
        </div>
      </Grid>
    </div>
  </div>
</MainLayout>
