---
import MainLayout from "layouts/main.astro";
---

<MainLayout
  title="Home sweet home"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <p class="body-normal">Hey</p>
</MainLayout>
