---
import MainLayout from "layouts/main.astro";
---

<MainLayout
  title="Yuna Orsini - Stratégie et design UX freelance à Bordeaux - Mes expertises"
  description="Je suis designer stratégique senior & lead UX. Attentive aux détails et aux autres, j'aide les équipes à concrétiser la vision produit, avec un focus sur l’accessibilité, l’éco-conception et la qualité."
  og_title="Yuna Orsini - Stratégie et design UX freelance à Bordeaux - Mes expertises"
  og_description="Je suis Yuna Orsini, designer stratégique senior & lead UX à Bordeaux. Découvrez mes expertises et mon parcours."
>
  <h1 class="text-display-large">
    Je suis Yuna Orsini. <br /> Je suis <span
      class="text-display-large-highlight"
      >designer stratégique senior & lead UX.</span
    >
  </h1>
</MainLayout>
