---
import MainLayout from "layouts/main.astro";
import Grid from "../components/@common/Grid.astro";
import Contact from "../components/Contact.astro";
import DiscreetDots from "../components/@common/DiscreetDots.astro";
---

<MainLayout
  title="Mentions légales - Yuna Orsini - Stratégie et design UX freelance à Bordeaux"
  description="Mentions légales du site yuna.work"
  og_title="Mentions légales - Yuna Orsini - Stratégie et design UX freelance à Bordeaux"
  og_description="Mentions légales du site yuna.work"
>
  <div class="my-[30px] lg:mt-[95px]">
    <div class="container">
      <Grid as="div">
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-full xl:col-start-2"
        >
          <h1 class="text-display-large mb-[30px]">Mentions légales</h1>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-20 text-paragraph">
    <div class="container">
      <Grid as="div">
        <div
          class="col-span-full sm:col-span-7 md:col-span-6 lg:col-span-full xl:col-start-2"
        >
          <div class="space-y-[30px]">
            <section>
              <h3 class="text-headline-large-highlight mb-4">Généralités</h3>
              <ul class="text-body-normal">
                <li>Directrice de la publication : Yuna Orsini</li>
                <li>
                  SIRET (Système Informatique pour le Répertoire des Entreprises
                  sur le Territoire) : 789 657 202 00030
                </li>
                <li>
                  Code APE : 7490B - Activités spécialisées, scientifiques et
                  techniques diverses
                </li>
                <li>
                  Adresse : 3 rue Lebrun - 33140 Villenave d'Ornon - France
                </li>
                <li>
                  Contacts : +33 642 29 86 31 - <a
                    href="mailto:hello@yuna.work"
                    class="underline underline-offset-2 hover:text-neutral5"
                  >
                    hello@yuna.work
                  </a>
                </li>
              </ul>
            </section>

            <section>
              <h3 class="text-headline-large-highlight mb-5">
                Données personnelles
              </h3>
              <p class="text-body-normal">
                Vous disposez d'un droit d'accès, de rectification, de
                modification et de suppression concernant les données qui vous
                concernent personnellement. Ce droit peut être exercé par voie
                postale auprès de : Yuna Orsini - 3 rue Lebrun - 33140 Villenave
                d'Ornon - France ou par courrier électronique à l’adresse
                hello@yuna.work. Vous disposez également du droit d'introduire
                une réclamation auprès de la CNIL.
              </p>
            </section>

            <section>
              <h3 class="text-headline-large-highlight mb-5">
                Confidentialité
              </h3>
              <ul class="text-body-normal">
                <li>
                  Vos données personnelles sont confidentielles et ne seront en
                  aucun cas communiquées à des tiers hormis pour la bonne
                  exécution de la prestation que vous auriez commandée.
                </li>
                <li>
                  Aucune solution de tracking ou d’analytics n’est implémentée
                  sur le site
                </li>
              </ul>
            </section>

            <section>
              <h3 class="text-headline-large-highlight mb-5">
                Délai de réponse
              </h3>
              <p class="text-body-normal">
                Je tâcherai de répondre au plus vite à vos demandes
                d'informations, au maximum dans les 72 heures suivant la
                réception de votre email.
              </p>
            </section>

            <section>
              <h3 class="text-headline-large-highlight mb-5">
                Développement et hébergement
              </h3>
              <ul class="text-body-normal">
                <li>
                  Site développé avec talent et passion par <a
                    href="https://github.com/mr-wildcard"
                    target="_blank"
                    class="hover:text-neutral5"
                  >
                    Julien Viala (nouvelle fenêtre)
                  </a>
                </li>
                <li>
                  Nom de domaine chez <a
                    href="https://www.infomaniak.com/"
                    target="_blank"
                    class="hover:text-neutral5"
                  >
                    Infomaniak (nouvelle fenêtre)
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.cloudflare.com/"
                    target="_blank"
                    class="hover:text-neutral5"
                  >
                    Hébergement chez Cloudflare (nouvelle fenêtre)
                  </a>
                  <ul>
                    <li>
                      Cloudflare, Inc., 101 Townsend St, San Francisco, CA
                      94107, USA
                    </li>
                    <li>
                      Adresse postale (uniquement) : 6 place de la Madeleine
                      75008 Paris
                    </li>
                    <li>
                      Numéro de téléphone pour la France : +33 1 73 01 52 44
                    </li>
                  </ul>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </Grid>
    </div>
  </div>

  <div id="contact" class="mb-6">
    <div class="container">
      <Contact view="inline" />
    </div>
  </div>

  <div class="mb-6">
    <div class="container">
      <div class="flex justify-end">
        <DiscreetDots x={7} y={6} />
      </div>
    </div>
  </div>
</MainLayout>

<style>
  ul {
    @apply list-disc list-outside  pl-[30px];
  }

  a {
    @apply underline underline-offset-2;
  }
</style>
