---
import MainLayout from "layouts/main.astro";
import Grid from "../components/@common/Grid.astro";
import Contact from "../components/Contact.astro";
import DiscreetDots from "../components/@common/DiscreetDots.astro";
---

<MainLayout
  title="Plan du site"
  description="Page description"
  og_title="Open Graph Title"
  og_description="Open Graph Description"
>
  <div class="my-[30px] lg:mt-[95px]">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full lg:col-start-2">
          <h1 class="text-display-large mb-[30px]">Plan du site</h1>
        </div>
      </Grid>
    </div>
  </div>

  <div class="mb-20">
    <div class="container">
      <Grid as="div">
        <div class="col-span-full lg:col-start-2">
          <ul class="list-disc list-inside text-body-normal pl-6">
            <li>
              <a
                href="/"
                class="underline underline-offset-2 hover:text-neutral5"
              >
                Expertises (page d’accueil)
              </a>
            </li>
            <li>
              <a
                href="/collaborations"
                class="underline underline-offset-2 hover:text-neutral5"
              >
                Collaborations
              </a>
            </li>
            <li>
              <a
                href="/a-propos"
                class="underline underline-offset-2 hover:text-neutral5"
              >
                À propos
              </a>
            </li>
            <li>Plan de site (cette page)</li>
            <li>
              <a
                href="/mentions-legales"
                class="underline underline-offset-2 hover:text-neutral5"
              >
                Mentions légales
              </a>
            </li>
          </ul>
        </div>
      </Grid>
    </div>
  </div>

  <div id="contact" class="mb-6">
    <div class="container">
      <Contact view="inline" />
    </div>
  </div>

  <div class="mb-6 lg:hidden">
    <div class="container">
      <div class="flex justify-end">
        <DiscreetDots x={7} y={6} />
      </div>
    </div>
  </div>
</MainLayout>
