---
import NavItem from "./NavItem.astro";
import Logo from "./Logo.astro";
import Contact from "../Contact.astro";
import Link from "../@common/Link.astro";
---

<header
  id="header"
  data-menu-opened="false"
  class="sticky top-0 bg-neutral1 z-10"
>
  <div class="container">
    <div id="header-content" class="flex justify-between items-center py-5">
      <div id="logo">
        <Logo />
      </div>

      <ul class="hidden lg:flex">
        <li class="mr-10">
          <NavItem to="/" variant="primary">Mes expertises</NavItem>
        </li>
        <li class="mr-10">
          <NavItem to="/collaborations" variant="primary">
            Collaborations
          </NavItem>
        </li>
        <li class="mr-[35px]">
          <NavItem to="/a-propos" variant="primary">À propos</NavItem>
        </li>
        <li>
          <a
            href="#contact"
            class="text-menu-label-highlight text-neutral1 px-5 py-2 rounded-full bg-primary"
            >Contactez-moi</a
          >
        </li>
      </ul>

      <button
        id="mobile-menu-opener"
        aria-expanded="false"
        class="text-menu-label text-neutral1 px-5 py-[5px] bg-primary rounded-full lg:hidden"
      >
        <span class="text-closed">Menu</span>
        <span class="text-opened">Fermer</span>
      </button>
    </div>
  </div>

  <nav
    id="mobile-menu"
    role="navigation"
    class="bg-neutral3 overflow-y-auto w-full"
  >
    <div class="container">
      <header class="text-menu-label text-secondary mb-[50px]">Menu</header>
      <div class="container">
        <ul>
          <li class="mb-6">
            <NavItem to="/" variant="primary">Mes expertises</NavItem>
          </li>
          <li class="mb-6">
            <NavItem to="/collaborations" variant="primary">
              Collaborations
            </NavItem>
          </li>
          <li class="mb-12">
            <NavItem to="/a-propos" variant="primary">À propos</NavItem>
          </li>
          <li class="mb-[30px]">
            <NavItem to="/mentions-legales" variant="secondary">
              Mentions légales
            </NavItem>
          </li>
          <li>
            <NavItem to="/plan-du-site" variant="secondary">
              Plan du site
            </NavItem>
          </li>
        </ul>
      </div>

      <div class="mt-[50px] mb-5">
        <Contact view="inline" />
      </div>
    </div>
  </nav>
</header>

<script>
  if (!CSS.supports("animation-timeline", "scroll(y root)")) {
    import("./scripts/sticky-header.fallback").then(
      ({ default: stickThatHeader }) => stickThatHeader(),
    );
  }
</script>

<style>
  .text-opened,
  #mobile-menu {
    display: none;
  }

  #header[data-menu-opened="true"] {
    @apply bg-neutral3;

    height: 100vh;
    height: 100dvh;

    #header-content {
      padding-bottom: 4px;
    }

    .text-opened,
    #mobile-menu {
      display: block;
    }

    .text-closed {
      display: none;
    }

    #logo {
      visibility: hidden;
    }

    #mobile-menu-opener {
      @apply bg-neutral1 text-primary shadow-primary shadow-cta;
    }
  }

  @supports (animation-timeline: scroll(y root)) {
    #header {
      animation-duration: 1ms;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-range: 0px 1px;
      animation-timeline: scroll(y root);
    }

    #header:not([data-menu-opened="true"]) {
      animation-name: sticky-bg-header;
    }
  }

  @keyframes sticky-bg-header {
    from {
      @apply bg-neutral1;
    }

    to {
      @apply bg-neutral2 border-b border-b-primary;
    }
  }
</style>

<script src="./index.ts"></script>
