---
import Icon from "components/@common/Icon.astro";

const { pathname } = Astro.url;

const href = pathname === "/" ? "#" : "/";

const htmlAttributes =
  pathname === "/"
    ? { title: "Retour en haut de page" }
    : { title: "Retour à l’accueil" };
---

<a href={href} class="flex items-center space-x-2" {...htmlAttributes}>
  <Icon aria-hidden="true" name="logo" width={41} height={21} />
  <span class="text-[22px] font-medium">Yuna Orsini</span>
</a>
