---
import { Picture } from "astro:assets";
import Grid from "./@common/Grid.astro";
import ImageContactYuna from "images/contact-yuna.png";
import DiscreetDots from "./@common/DiscreetDots.astro";
import IconOpenInNew from "./@common/IconOpenInNew.astro";

interface Props {
  view: "inline" | "intermediary" | "full";
}

const { view } = Astro.props;
---

{
  view === "inline" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid as="div" class="gap-y-[30px] lg:items-center">
        <div class="col-span-full lg:col-start-2 lg:col-span-5">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full lg:col-start-7">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "intermediary" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5 lg:px-0 lg:py-10">
      <Grid as="div" class="gap-y-[20px] lg:gap-x-10">
        <div class="col-span-full lg:col-start-2 lg:col-span-5">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full lg:col-span-5">
          <p class="text-body-normal">
            Je suis particulièrement intéressée par la thématique des
            responsabilités du numérique, les projets à impact, les modèles
            alternatifs et les initiatives socialement engagées.
          </p>
        </div>
        <div class="col-span-full lg:col-start-7 lg:col-span-5">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "full" && (
    <div class="relative lg:pt-[118px] lg:pb-[100px] isolate">
      <div class="z-0 hidden lg:block absolute top-0 -right-[38px]">
        <DiscreetDots x={16} y={22} />
      </div>
      <section class="relative bg-primary text-neutral1 rounded-card pt-[30px] py-10 px-5 lg:pt-[50px] lg:pb-[60px] xl:pt-[50px] xl:pb-[70px] lg:px-0">
        <Grid as="div">
          <div class="col-span-full sm:col-span-6 lg:hidden">
            <h2 class="text-title-large mb-[25px]">Contactez-moi</h2>
          </div>
          <div class="col-span-full lg:col-start-2 lg:col-span-2">
            <div class="mb-[30px] lg:h-full lg:mb-0 lg:flex lg:items-center">
              <Picture
                densities={[1, 2]}
                src={ImageContactYuna}
                alt=""
                width={193}
                height={157}
                formats={["avif", "webp"]}
              />
            </div>
          </div>
          <div class="col-span-full sm:col-span-full md:col-span-7 lg:col-start-4 lg:col-span-8 2xl:col-span-6">
            <h2 class="hidden lg:block text-title-normal xl:text-title-large mb-[25px] lg:mb-[15px]">
              Contactez-moi
            </h2>

            <h3 class="text-display-medium lg:text-headline-large xl:text-display-medium mb-[30px]">
              Une question, une proposition de mission ou de prise de parole ?
            </h3>
            <p class="text-headline-small lg:text-body-normal xl:text-headline-small mb-5 lg:mb-1.5 xl:mb-2.5">
              Écrivez-moi par email à
              <a
                class="underline font-bold hover:text-neutral4"
                href="mailto:hello@yuna.work"
              >
                hello@yuna.work
              </a>
            </p>
            <p class="text-headline-small lg:text-body-normal xl:text-headline-small">
              Ou contactez-moi sur
              <a
                class="font-bold hover:text-neutral4"
                href="https://www.linkedin.com/in/yunaorsini/"
              >
                <span class="underline space-x-2 inline-flex items-center">
                  <span>LinkedIn</span>
                  <IconOpenInNew class="inline lg:hidden xl:inline" size={22} />
                  <IconOpenInNew class="hidden lg:inline xl:hidden" size={20} />
                </span>
              </a>
            </p>
          </div>
        </Grid>
      </section>
    </div>
  )
}
