---
import { Picture } from "astro:assets";
import Grid from "./@common/Grid.astro";
import Icon from "./@common/Icon.astro";
import ImageContactYuna from "images/contact-yuna.png";
import DiscreetDots from "./@common/DiscreetDots.astro";

interface Props {
  view: "inline" | "intermediary" | "full";
}

const { view } = Astro.props;
---

{
  view === "inline" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid as="div" class="gap-y-[30px]">
        <div class="col-span-full">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "intermediary" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5 xl:px-0 xl:py-10">
      <Grid as="div" class="gap-y-[20px]">
        <div class="col-span-full xl:col-start-2 xl:col-span-5">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full xl:col-span-5">
          <p class="text-body-normal">
            Je suis particulièrement intéressée par la thématique des
            responsabilités du numérique, les projets à impact, les modèles
            alternatifs et les initiatives socialement engagées.
          </p>
        </div>
        <div class="col-span-full xl:col-start-7 xl:col-span-5">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "full" && (
    <div class="relative lg:pt-[118px] lg:pb-[100px]">
      <div class="hidden lg:block absolute top-0 -right-[38px]">
        <DiscreetDots x={16} y={24} />
      </div>
      <section class="bg-primary text-neutral1 rounded-card pt-[30px] py-10 px-5 lg:pt-[50px] lg:pb-[70px] lg:px-0">
        <Grid as="div">
          <div class="col-span-full sm:col-span-6 lg:hidden">
            <h2 class="text-title-large mb-[25px]">Contactez-moi</h2>
          </div>
          <div class="col-span-full lg:col-start-2 lg:col-span-2">
            <div class="mb-[30px] lg:h-full lg:mb-0 lg:flex lg:items-center">
              <Picture
                densities={[1, 2]}
                src={ImageContactYuna}
                alt="Yuna Orsini"
                width={193}
                height={157}
                formats={["avif", "webp"]}
              />
            </div>
          </div>
          <div class="col-span-full sm:col-span-6 lg:col-start-4 lg:col-span-8 2xl:col-span-6">
            <h2 class="hidden lg:block text-title-large mb-[25px] lg:mb-[15px]">
              Contactez-moi
            </h2>

            <div class="lg:col-start-4 lg:col-span-6">
              <h3 class="text-display-medium mb-[30px]">
                Une question, une proposition de mission ou de prise de parole ?
              </h3>
            </div>
            <div class="lg:col-start-4">
              <p class="text-headline-small mb-5 lg:mb-2.5">
                Écrivez-moi par email à
                <a class="underline font-bold" href="mailto:hello@yuna.work">
                  hello@yuna.work
                </a>
              </p>
            </div>
            <div class="lg:col-start-4">
              <p class="text-headline-small">
                Ou contactez-moi sur
                <a
                  class="underline font-bold"
                  href="https://www.linkedin.com/in/yunaorsini/"
                >
                  <span class="space-x-2">
                    <span>LinkedIn</span>
                    <Icon class="inline" size={22} name="open_in_new" />
                  </span>
                </a>
              </p>
            </div>
          </div>
        </Grid>
      </section>
    </div>
  )
}
