---
import Grid from "./@common/Grid.astro";
interface Props {
  view: "inline" | "intermediary" | "full";
}

const { view } = Astro.props;
---

{
  view === "inline" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid class="gap-y-[30px]">
        <div class="col-span-full">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "intermediary" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid class="gap-y-[20px]">
        <div class="col-span-full">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full">
          <p class="text-body-normal">
            Je suis particulièrement intéressée par la thématique des
            responsabilités du numérique, les projets à impact, les modèles
            alternatifs et les initiatives socialement engagées.
          </p>
        </div>
        <div class="col-span-full">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}
