---
import { Picture } from "astro:assets";
import Grid from "./@common/Grid.astro";
import Icon from "./@common/Icon.astro";
import ImageContactYuna from "images/contact-yuna.png";

interface Props {
  view: "inline" | "intermediary" | "full";
}

const { view } = Astro.props;
---

{
  view === "inline" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid class="gap-y-[30px]">
        <div class="col-span-full">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "intermediary" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid class="gap-y-[20px]">
        <div class="col-span-full">
          <h2 class="text-headline-large">
            Une question, une proposition de mission ou de prise de parole ?
          </h2>
        </div>
        <div class="col-span-full">
          <p class="text-body-normal">
            Je suis particulièrement intéressée par la thématique des
            responsabilités du numérique, les projets à impact, les modèles
            alternatifs et les initiatives socialement engagées.
          </p>
        </div>
        <div class="col-span-full">
          <a
            href="mailto:hello@yuna.work"
            class="text-headline-large-highlight hover:text-neutral4 underline"
          >
            hello@yuna.work
          </a>
        </div>
      </Grid>
    </section>
  )
}

{
  view === "full" && (
    <section class="bg-primary text-neutral1 rounded-card py-[30px] px-5">
      <Grid>
        <div class="col-span-full sm:col-span-6">
          <h2 class="text-title-large mb-[25px]">Contactez-moi</h2>
        </div>
        <div class="col-span-full sm:col-span-6">
          <div class="mb-[30px]">
            <Picture
              densities={[1, 2]}
              src={ImageContactYuna}
              alt="Yuna Orsini"
              width={193}
              height={157}
              formats={["avif", "webp"]}
            />
          </div>
        </div>
        <div class="col-span-full sm:col-span-6">
          <h3 class="text-headline-large mb-[30px]">
            Une question, une proposition de mission ou de prise de parole ?
          </h3>
        </div>
        <div class="col-span-full sm:col-span-6">
          <p class="text-title-normal mb-5">
            Écrivez-moi par email à
            <a class="underline" href="mailto:hello@yuna.work">
              hello@yuna.work
            </a>
          </p>
        </div>
        <div class="col-span-full sm:col-span-6">
          <p class="text-title-normal">
            Vous pouvez aussi me contacter sur
            <a
              class="underline "
              href="https://www.linkedin.com/in/yunaorsini/"
            >
              <span class="space-x-2">
                <span>LinkedIn</span>
                <Icon class="inline" size={22} name="open_in_new" />
              </span>
            </a>
          </p>
        </div>
      </Grid>
    </section>
  )
}
