---
import Link from "../@common/Link.astro";
import NavItem from "./NavItem.astro";
---

<footer class="border-t border-top-primary">
  <div class="container">
    <nav class="pt-[38px] pb-[50px] xl:py-5">
      <ul
        class="flex flex-col items-center space-y-[44px] xl:flex-row xl:space-y-0 xl:justify-end"
      >
        <li class="xl:mr-5">
          <NavItem to="/mentions-legales"> Mentions légales </NavItem>
        </li>
        <li>
          <NavItem to="/plan-du-site"> Plan du site </NavItem>
        </li>
        <li class="xl:ml-[30px]">
          <Link
            variant="full-radius"
            to="https://www.linkedin.com/in/yunaorsini/"
          >
            Retrouvez-moi sur LinkedIn
          </Link>
        </li>
      </ul>
    </nav>
  </div>
</footer>
